
.body{
    padding: 24px;
    background-color: #1f1f1f;
}

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: #1f1f1f; */
    font-family: outfit, sans-serif;
}

.container{
    padding: 24px;
    width: 100%;
    height: auto;
    margin: 40px auto;
    padding: 24px;
    background-color: #2f2f2f;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-pic{
    display: block;
    margin: 0 auto 10px auto;
    position: relative;
    width: 256px;
    height: 256px;
    border-radius: 24px;
    object-fit: cover;
}

.title{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 8px;
}

.subtitle{
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #cccccc;
    margin-bottom: 24px;
}

.contact-info{
    margin-top: 0;
    color: #ffffff;
    padding: 8px;
    gap: 24px;
    
}

.info-row{
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    padding-top: 24px;
    border-bottom: 0.5px solid #7f7f7f;
    
}

.sms-alert{
    padding-left: 12px;
    gap: 12px;
    margin-top: 0px;
    display: flex;
    justify-content: left;
}

.alert-text{
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.alert-indicator{
    width: 16px;
    height: 16px;
    background-color: #4caf50;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
}

.sms-alert label{
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.save-button{
    text-align: center;
    margin-top: 24px;
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}   
.save-button:hover{
    background-color: #47b64a;
}

.bank-account{
    padding: 24px;
    width: 100%;
    height: auto;
    margin: 40px auto;
    padding: 24px;
    background-color: #2f2f2f;
    border-radius: 12px;
}

.account-header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 0.5px solid #7f7f7f;
}

.account-actions{
    gap: 12px;
    align-items: center;
    display: flex;
    justify-content: right;
    
    margin-top: 16px;
}

.search-button{
    padding: 8px 16px;
    background-color: #777777;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}

.edit-button{
    padding: 8px 16px;
    background-color: #777777;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}

.account-info{
    display: flex ;
    flex-direction: column;
    margin-top: 16px;
    color: #ffffff;
    padding: 8px;
    gap: 12px;
}

.account-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    padding-top: 0px;
    /* border-bottom: 0.5px solid #7f7f7f; */
}

.block-button{
    text-align: center;
    margin-top: 24px;
    width: 20%;
    padding: 12px;
    background-color: #af634c;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}   
.block-button:hover{
    background-color: #b9674d;
}

.activate-button{
    text-align: center;
    margin-top: 24px;
    width: 20%;
    padding: 12px;
    background-color: #41a044;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}   
.activate-button:hover{
    background-color: #44aa47;
}



.bills{
    padding: 24px;
    width: 100%;
    height: auto;
    margin: 40px auto;
    padding: 24px;
    background-color: #2f2f2f;
    border-radius: 12px;
}

.bills-header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 0.5px solid #7f7f7f;
}

.bill-actions{
    gap: 12px;
    align-items: center;
    display: flex;
    justify-content: right;
    
    margin-top: 16px;
}

.bill-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0px;
    padding-top: 0px;
    /* border-bottom: 0.5px solid #7f7f7f; */
}

.bill-info{
    display: flex ;
    justify-content: left;
    margin-top: 16px;
    color: #ffffff;
    padding: 8px;
    gap: 12px;
}
.bill-indicator-paid{
    width: 16px;
    height: 16px;
    background-color: #4caf50;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
}
.bill-indicator-not-paid{
    width: 16px;
    height: 16px;
    background-color: #f44336;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
}

.paid-button{
    text-align: center;
    margin-top: 24px;
    width: 20%;
    padding: 12px;
    background-color: #4caf50;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.paid-button:hover{
    background-color: #47b64a;
}

.not-paid-button{
    text-align: center;
    margin-top: 24px;
    width: 20%;
    padding: 12px;
    background-color: #b9674d;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.not-paid-button:hover{
    background-color: #c56d52;
}


.container-2{
    border-color: solid 2px #ff0000 ;
    width: 100%;
    height: auto;
    padding: 0px;
    gap: 24px;
    border-radius: 12px;
    
}


.section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
    background-color: #1f1f1f;
    border-radius: 12px;
    border:1px solid #8b8b8b ;
    gap: 24px;

}