*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #1e1e1e;
    font-family: poppins, sans-serif;
    color: white;
    padding: 24px;
    box-sizing: border-box;
    column-gap: 24px;
    transition: 10ms;
    scroll-behavior: smooth;
}
.section{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #1f1f1f;
    border-radius: 16px;
    border: 1px solid #333333;
    padding: 24px;
    margin: 0;
  
}
.section-header-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.section-header-main .status-name{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.section-header-main .status-name .name h1{
    font-size: 1.865rem;
    font-weight: bold;
}

@media (max-width: 600px) {
    .section-header-main .status-name .name h1{
    font-size: 30px;
    font-weight: bold;
}
}
@media (max-width: 600px) {
    .section-header-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
}
.section-header-main .status-name .name p{
    font-size: 14px;
    font-weight: 500;
    color: #9CA3AF;
}
.section-header-main .status-name .name{
    padding-left: 12px;
}
.section-header-main .status-name i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    color: #00D4FF;
    font-size: 32px;
    background-color: #00D4FF20;
    border-radius: 50%;
}
@media (max-width: 600px) {
    .active-status{
    display: flex;
    flex-direction: column;
    justify-content: right;
}
}
.active-status{
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.active-status h1{
    font-size: 14px;
    font-weight: 500;
    color: #4ADE80;
    text-align: right;
}
.active-status p{
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    color: #9CA3AF;
}
.active-mark{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 8px;
    align-items: center;
    color: #4ADE80;
}
/* ---ring-- */
.score-ring {
    width: 102px;
    height: 102px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ring {
    transform: rotate(-90deg);
}
.ring-bg {
    fill: none;
    stroke: #2F2F2F;
    stroke-width: 4;
}
.ring-progress {
    fill: none;
    stroke: #00D4FF;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-dasharray: 15 10 15 10 15 10 15 10; /* segments */
    stroke-dashoffset: 0;
}
.score-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score-number {
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.score-label {
    color: #9CA3AF;
    font-size: 12px;
    margin-top: -2px;
}
/* ---ring---- */
.score{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header .name{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 12px;
}
.header .name i{
    font-size: 20px;
}
.header .name h1{
    font-size: 20px;
    font-weight: bold;
}

/*  */
.status-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
    row-gap: 12px;
}
@media (max-width: 700px) {
    .status-grid{
        display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
    }
}
.notify-grid .notify-status .success{
    color: #4ADE80;
}
.notify-grid .notify-status .warning{
    color: #FACC15;
}
.notify-status{
    padding: 12px 16px;
    background-color: rgba(47, 47, 47, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 12px;
}

.notify-grid{
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
    row-gap: 12px;
}
@media (max-width: 700px) {
    .notify-grid{
        display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
    }
    
}
.status-card{
    padding: 9px 13px;
    background-color: rgba(47, 47, 47, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.status-card span{
    font-size: 14px;
    color: #D1D5DB;
}
.status-card i{
    padding-right: 8px;
    
}

.status-details{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.status-card .success{
    color: rgba(74, 222, 128, 1);
}

.status-card .warning{
    color: rgba(250, 204, 21, 1);
}

.status-card span{
    font-size: 14px;
    font-weight: 500;
}


.title{
    display: flex;
    justify-content: left;
    align-items: center;
}

.title h1{
    font-size: 20px;
    font-weight: bold;
}

.title .key {
    padding-right: 8px;
    color: rgba(0, 212, 255, 1);
}

.status-card .login-details{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 0;
}

.status-card .login-details h1{
    font-size: 16px;
    font-weight: 500;
}

.status-card .login-details p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(156, 163, 175, 1);
}


.toggle {
    position: relative;
    width: 48px;
    height: 24px;
    display: inline-block;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3A3A3A;
    border-radius: 24px;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.toggle input:checked + .slider {
    background-color: rgba(74, 222, 128, 1);
}

.toggle input:checked + .slider::before {
    transform: translateX(24px);
}


.button-update{
    padding: 7px 12px;
    background-color: #374151;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.button-update span{
    font-weight: 400;
    /* color: #00D4FF; */
}

.button-enable{
    padding: 7px 12px;
    background-color: rgba(0, 212, 255, .2);
    border-radius: 8px;
    border: 1px solid rgba(0, 213, 255, 0.3);
    /* border: none; */
    cursor: pointer;
}

.button-enable span{
    font-weight: 400;
    color: #00D4FF;
}

.button-verified{
    padding: 7px 12px;
    background-color: rgba(34, 197, 94, .2);
    border-radius: 24px;
    /* border: 1px solid rgba(0, 213, 255, 0.3); */
    border: none;
}

.button-verified span{
    font-weight: 400;
    color: rgba(74, 222, 128, 1);
}

.ai-recommendation{
    /* height: 78px;
    width: auto; */
    background-color: rgba(0, 212, 255, .1);
    border-radius: 8px;
    border: 1px solid rgba(0, 212, 255, .3);
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: top;
}

.ai-recommendation i{
    padding-right: 12px;
    padding-top: 4px;
}

.name{
    justify-content: top;
    align-items: top;
}

.name h1{
    font-size: 16px;
    font-weight: 700;
}

.name p{
    font-size: 14px;
    font-weight: 400;
    color: #9CA3AF;
}
.notify{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 16px;
}
.sub-section{
    display: flex;
    flex-direction: row;
    align-items: center;

}
@media (max-width: 700px) {
.notify{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 16px;
    margin-top: 16px;
}
}
@media (max-width: 700px) {
.sub-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 16px;
}
}

.sub-co-section{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.button-remove{
    padding: 7px 12px;
    background-color: #EF444420;
    border-radius: 8px;
    /* border: 1px solid rgba(0, 213, 255, 0.3); */
    border: none;
    cursor: pointer;
}

.button-remove span{
    font-size: 14px;
    color: #F87171;
}
.ai-risk-detector{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 12px;
}
.status-details .ai{
    color: #00D4FF;
}

.ai-details h1{
    font-size: 16px;
    font-weight: 600;
    color: #00D4FF;
}
.gulumulu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}
@media (max-width: 700px) {
    .gulumulu{
    display: grid;
    grid-template-rows: repeat(2. auto);
    grid-template-columns: 1fr;
    gap: 16px;
}
}
.section-d{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #1f1f1f;
    border-radius: 16px;
    border: 1px solid #333333;
    padding: 24px;
    margin: 0;
  
}
.button-access{
    padding: 7px 12px;
    background-color: #A855F720;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.button-access span{
    color: #A855F7;
}
.grid-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}
@media (max-width: 700px) {
    .grid-box{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 16px;
    }
}

.mid-header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 12px;
}
.mid-header h1{
    font-size: 16px;
    font-weight: 700;
}
.box-card{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 12px;
    background-color: #2F2F2F33;
    border-radius: 16px;
    border: solid 1px #33333330;
    padding: 16px;
}

.box-card p{
    font-size: 14px;
    font-weight: 400;
    color: #D1D5DB;
}
.box-card h4{
    color: #00D4FF;
    font-size: 14px;
    font-weight: 400;
}
.box-card h4:hover{
    text-decoration: underline;
    color: #00D4FF;
}