

*{
    margin: 0;
    border-style: border-box;
    font-family: Poppins, sans-serif;
    color: white;
}


.body{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #1f1f1f;
    padding: 24px 80px;
    gap: 24px;
}
.para{
    font-size: 16px;
    color: #9CA3AF;
}

.security-center{

    font-size: 30px;
    font-weight: 900;
}

.section-headerr{
    gap: 0;
    margin: 0;
    padding: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-left{
    display: flex;
    flex-direction: row;

}

.section-header i {
    width: 48px;
    height: 48px;
    font-size: 25.5px;
    transform: scaleY(23.5 / 22.5);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 8px;
    margin-right: 12px;
    color: #00D4FF;
    background-color: #00d5ff4d;
    opacity: 100%;
    border-radius: 50%;
    
}

.section{
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid #333333;
    padding: 24px;
    background-color: #1e1e1e;
}

.monitoring{
    justify-content: right;
    align-items: right;
    text-align: right;
}

.active{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: right;
    align-items: center;
}

.circle{
    height: 12px;
    width: 12px;
    background-color: #4ADE80;
    border-radius: 50%;

}

.ai-guardian{
    text-align: right;
    color: #4ADE80;

}

.threat{
    font-size: 14px;
    text-align: right;
    color: #9CA3AF;
}

/* ---ring-- */

.score-ring {
    width: 102px;
    height: 102px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring {
    transform: rotate(-90deg);
}

.ring-bg {
    fill: none;
    stroke: #2F2F2F;
    stroke-width: 4;
}

.ring-progress {
    fill: none;
    stroke: #00D4FF;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-dasharray: 15 10 15 10 15 10 15 10; /* segments */
    stroke-dashoffset: 0;
}

.score-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-number {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.score-label {
    color: #9CA3AF;
    font-size: 12px;
    margin-top: -2px;
}
/* ---ring---- */

.sub-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.score-section{
    gap: 16px;
    height: 182px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(47, 47, 47, 0.2); */
}

.score-section h1{
    font-size: 18px;
    font-weight: 500;
}

.verify-section{
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ai-recommendation{
    /* height: 78px;
    width: auto; */
    background-color: rgba(0, 212, 255, .1);
    border-radius: 8px;
    border: 1px solid rgba(0, 212, 255, .3);
    padding: 16px;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: top;
}

.ai-recommendation i{
    padding-right: 12px;
    padding-top: 4px;
}

.name{
    justify-content: top;
    align-items: top;
}

.name h1{
    font-size: 16px;
    font-weight: 700;
}

.name p{
    font-size: 14px;
    font-weight: 400;
    color: #9CA3AF;
}

.status-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.status-card{
    padding: 9px 13px;
    background-color: rgba(47, 47, 47, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.status-card span{
    font-size: 14px;
    color: #D1D5DB;
}
.status-card i{
    padding-right: 8px;
    
}

.status-details{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.status-card .success{
    color: rgba(74, 222, 128, 1);
}

.status-card .warning{
    color: rgba(250, 204, 21, 1);
}

.status-card span{
    font-size: 14px;
    font-weight: 500;
}


.title{
    display: flex;
    justify-content: left;
    align-items: center;
}

.title h1{
    font-size: 20px;
    font-weight: bold;
}

.title .key {
    padding-right: 8px;
    color: rgba(0, 212, 255, 1);
}

.status-card .login-details{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 0;
}

.status-card .login-details h1{
    font-size: 16px;
    font-weight: 600;
}

.status-card .login-details p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(156, 163, 175, 1);
}


.toggle {
    position: relative;
    width: 48px;
    height: 24px;
    display: inline-block;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3A3A3A;
    border-radius: 24px;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.toggle input:checked + .slider {
    background-color: rgba(74, 222, 128, 1);
}

.toggle input:checked + .slider::before {
    transform: translateX(24px);
}


.button-update{
    padding: 7px 12px;
    background-color: #374151;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.button-update span{
    font-weight: 400;
    /* color: #00D4FF; */
}

.button-enable{
    padding: 7px 12px;
    background-color: rgba(0, 212, 255, .2);
    border-radius: 8px;
    border: 1px solid rgba(0, 213, 255, 0.3);
    /* border: none; */
    cursor: pointer;
}

.button-enable span{
    font-weight: 400;
    color: #00D4FF;
}

.button-verified{
    padding: 7px 12px;
    background-color: rgba(34, 197, 94, .2);
    border-radius: 24px;
    /* border: 1px solid rgba(0, 213, 255, 0.3); */
    border: none;
}

.button-verified span{
    font-weight: 400;
    color: rgba(74, 222, 128, 1);
}